/* SECCION SEMENTALES */
.mainsementales {
    &__flexsementales {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 30px;
        img{
            padding: 20px;
        }
    }

    &__infosementales {
        width: 70%;
        margin: auto;
        text-align: center;
    }
}

// media query - estrategia mobile last//
@media (max-width:576px) {
    .mainsementales{
        &__titulopadrillos {
            font-size: 30px;
        }
        
        .tamaño-padrillos {
            width: 350px;
            margin: auto;
        }
        
        &__infosementales{
            p{
                font-size: 15px;
            }
        }
    }
        

}