/* SECCION CONTACTO */
.maincontacto {
    .formulario {
        margin-bottom: 1rem;
        .colorform{
            background-color: rgba(230, 230, 230, 0.856) !important;
        }
        .btn{
            background-color: $color-principal;
            border: 1px solid black;
        }
        .btn:hover{
            background-color: lighten($color: $color-principal, $amount: 30);
            color: black;
        }
    }

    iframe {
        margin-top: 1rem;
        height: 20vh;
        width: 100%;
    }
}



// media query - estrategia mobile last//
@media (max-width:576px) {
    iframe {
        display: none;
    }
}