/* MAIN SECCION MADRES */

.negrita {
    font-weight: bold;
    font-size: 20px;
}

.negrita-hijos {
    font-weight: bolder;
}

/* madres grid */
.grid-madres {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "dashin-img dashin-tb"
        "ava-tb ava-img"
        "fell-img fell-tb"
        "hempen-tb hempen-img"
        "creme-img creme-tb";
}

.dashin-img {
    grid-area: dashin-img;

}

.dashin-tb {
    grid-area: dashin-tb;
    background-color: whitesmoke;
    text-align: left;
    padding: 40px;
    height: 100%;
}

.ava-tb {
    grid-area: ava-tb;
    background-color: whitesmoke;
    text-align: left;
    padding: 40px;
    height: 100%;
}

.ava-img {
    grid-area: ava-img;
}

.fell-img {
    grid-area: fell-img;
}

.fell-tb {
    grid-area: fell-tb;
    background-color: whitesmoke;
    text-align: left;
    padding: 120px 40px 10px 40px;
    height: 100%;
}

.hempen-tb {
    grid-area: hempen-tb;
    background-color: whitesmoke;
    text-align: left;
    padding: 120px 40px 10px 40px;
    height: 100%;
}

.hempen-img {
    grid-area: hempen-img;
}

.creme-img {
    grid-area: creme-img;
}

.creme-tb {
    grid-area: creme-tb;
    background-color: whitesmoke;
    text-align: left;
    padding: 120px 40px 10px 40px;
    height: 100%;
}

// media query - estrategia mobile last//
@media (max-width:576px) {
    .grid-madres {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 1fr 0.3fr 1fr 0.3fr 0.2fr 0.3fr 0.8fr 0.3fr 0.5fr;
        grid-template-areas:
            "dashin-img"
            "dashin-tb"
            "ava-img"
            "ava-tb"
            "fell-img"
            "fell-tb"
            "hempen-img"
            "hempen-tb"
            "creme-img"
            "creme-tb";
    }

    .dashin-img {
        background-color: whitesmoke;
        border-top: 1px solid black;

        img {
            padding: 0 10px;
        }


    }

    .dashin-tb {
        padding: 40px;
        background-color: white;
    }

    .ava-img {
        background-color: whitesmoke;
        padding: 10 40px;
        border-top: 1px solid black;

        img {
            padding: 0 10px;
        }


    }

    .ava-tb {
        padding: 40px;
        background-color: white;
    }

    .fell-img {
        background-color: whitesmoke;
        padding: 10 40px;
        border-top: 1px solid black;

        img {
            padding: 0 10px;
        }


    }

    .fell-tb {
        padding: 40px;
        background-color: white;
    }

    .hempen-img {
        background-color: whitesmoke;
        padding: 10 40px;
        border-top: 1px solid black;

        img {
            padding: 0 10px;
        }
    }

    .hempen-tb {
        padding: 40px;
        background-color: white;
    }

    .creme-img {
        max-width: 100%;
        background-color: whitesmoke;
        padding: 10 40px;
        border-top: 1px solid black;

        img {
            max-width: 100%;
            padding: 0 10px;
        }


    }

    .creme-tb {
        max-width: 100%;
        background-color: white;
        padding: 40px;
    }

    p {
        font-size: 1rem;
    }
}